[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
mongoengine = "*"
python-dotenv = "*"
gunicorn = "*"
pylint-venv = "*"
flask = "*"
requests = "*"
pyjwt = "*"
pandas = "*"
nose = "*"
blinker = "*"

[requires]
python_version = "3.7"
